In [5]:
# Apply XGBoost classification algorithm on the
# loan data set and compare its performance
# against SVM and Logistic Regression by suitably
# splitting the data into train and test sets.

In [58]:

# all necessary imports

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [7]:
dataset = pd.read_excel('loan.xlsx')
new_dataset = dataset
dataset.head()

,Sex,Age,Time_at_address,Res_status,Telephone,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,Acc_ref,Home_Expn,Balance,Decision
0,M,50.750000,0.585,owner,given,unemploye,unemploye,0,0,f,given,145,0,reject
1,M,19.670000,10.000,rent,not_given,labourer,governmen,0,0,t,given,140,0,reject
2,F,52.830002,15.000,owner,given,creative_,private_s,5,14,f,given,0,2200,accept
3,M,22.670000,2.540,rent,not_given,creative_,governmen,2,0,f,given,0,0,accept
4,M,29.250000,13.000,owner,given,driver,governmen,0,0,f,given,228,0,reject

In [8]:
# dataset summary
dataset.describe()

,Age,Time_at_address,Time_employed,Time_bank,Home_Expn,Balance
count,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000
mean,31.510163,4.650758,1.871795,2.279720,176.727273,898.382284
std,11.843595,4.804037,3.254023,3.966105,142.590659,3814.565340
min,15.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.670000,1.000000,0.000000,0.000000,80.000000,0.000000
50%,28.500000,2.750000,1.000000,0.000000,160.000000,10.000000
75%,38.250000,7.000000,2.000000,3.000000,272.000000,484.000000
max,76.750000,25.209999,20.000000,23.000000,760.000000,51100.000000

In [9]:
# finding out null data => missing data
dataset.isnull().sum()

# inference => no missing data

Sex                0
Age                0
Time_at_address    0
Res_status         0
Telephone          0
Occupation         0
Job_status         0
Time_employed      0
Time_bank          0
Liab_ref           0
Acc_ref            0
Home_Expn          0
Balance            0
Decision           0
dtype: int64

In [10]:
dataset.shape

# before calculating correlation, we shall one hot encode Sex, Res_Status, Telephone, Occupation, Job Status, Acc_ref, Decision

(429, 14)

In [11]:
# one hot encoding
onehot_encoder = OneHotEncoder(handle_unknown='ignore')

# label encoder
label_encoder = LabelEncoder()

In [12]:
# sex
print('Sex: ', dataset['Sex'].nunique())

new_dataset['Sex'] = label_encoder.fit_transform(dataset['Sex'])

Sex:  2

In [13]:
# Res_Status
print('Res_status: ', dataset['Res_status'].nunique())

dataset['Res_status'] = label_encoder.fit_transform(dataset['Res_status'])

Res_status:  2

In [14]:
# Telephone
print('Telephone: ', dataset['Telephone'].nunique())

dataset['Telephone'] = label_encoder.fit_transform(dataset['Telephone'])

Telephone:  2

In [15]:
# Acc_ref
print('Acc_ref: ', dataset['Acc_ref'].nunique())

dataset['Acc_ref'] = label_encoder.fit_transform(dataset['Acc_ref'])

Acc_ref:  2

In [16]:
# Liab_ref
print('Liab_ref: ', dataset['Liab_ref'].nunique())

dataset['Liab_ref'] = label_encoder.fit_transform(dataset['Liab_ref'])

Liab_ref:  2

In [17]:
# Decision
print(dataset['Decision'].dtype)
print('Decision: ', dataset['Decision'].nunique())

dataset['Decision'] = label_encoder.fit_transform(dataset['Decision'])

object
Decision:  2

In [18]:
# Job_status

print('Job_status: ', dataset['Job_status'].unique())

Job_status:  ['unemploye' 'governmen' 'private_s' 'self_empl' 'retired' 'student'
 'military']

In [19]:
# Occupation
print('Occupation: ', dataset['Occupation'].unique())

# dataset['Occupation'] = label_encoder.fit_transform(dataset['Res_Status'])

Occupation:  ['unemploye' 'labourer' 'creative_' 'driver' 'professio' 'manager'
 'guard_etc' 'executive' 'office_st' 'productio' 'semi_pro' 'sales']

In [20]:
features_array = onehot_encoder.fit_transform(dataset[['Job_status', 'Occupation']]).toarray()

In [21]:
feature_labels = ['governmen', 'military', 'private_s', 'retired', 'self_empl',
        'student', 'unemploye', 'creative_', 'driver', 'executive', 'guard_etc', 'labourer',
        'manager', 'office_st', 'productio', 'professio', 'sales',
        'semi_pro', 'unemploye']
feature_labels

['governmen',
 'military',
 'private_s',
 'retired',
 'self_empl',
 'student',
 'unemploye',
 'creative_',
 'driver',
 'executive',
 'guard_etc',
 'labourer',
 'manager',
 'office_st',
 'productio',
 'professio',
 'sales',
 'semi_pro',
 'unemploye']

In [22]:
features = pd.DataFrame(features_array, columns = feature_labels)

In [23]:
dataset = pd.concat([dataset, features], axis=1)

In [24]:
dataset.drop(['Occupation','Job_status'], axis=1, inplace=True)

In [25]:
dataset.columns

Index(['Sex', 'Age', 'Time_at_address', 'Res_status', 'Telephone',
       'Time_employed', 'Time_bank', 'Liab_ref', 'Acc_ref', 'Home_Expn',
       'Balance', 'Decision', 'governmen', 'military', 'private_s', 'retired',
       'self_empl', 'student', 'unemploye', 'creative_', 'driver', 'executive',
       'guard_etc', 'labourer', 'manager', 'office_st', 'productio',
       'professio', 'sales', 'semi_pro', 'unemploye'],
      dtype='object')

In [26]:
# data prepared for correlation

corr = dataset.corr()
print(corr)

                      Sex       Age  Time_at_address  Res_status  Telephone  \
Sex              1.000000  0.025167        -0.031594    0.121713   0.121713
Age              0.025167  1.000000         0.217342   -0.080265  -0.080265
Time_at_address -0.031594  0.217342         1.000000   -0.100614  -0.100614
Res_status       0.121713 -0.080265        -0.100614    1.000000   1.000000
Telephone        0.121713 -0.080265        -0.100614    1.000000   1.000000
Time_employed    0.077239  0.426890         0.278849   -0.074690  -0.074690
Time_bank       -0.072303  0.208736         0.202083   -0.132413  -0.132413
Liab_ref         0.010508  0.049109        -0.049978    0.018827   0.018827
Acc_ref          0.095826 -0.040445        -0.144258   -0.000201  -0.000201
Home_Expn        0.115355 -0.072254        -0.267470   -0.006477  -0.006477
Balance         -0.045248  0.101819         0.072235   -0.068829  -0.068829
Decision         0.052564 -0.181241        -0.163298    0.139104   0.139104
governmen       -0.071354  0.011700         0.032959    0.006508   0.006508
military         0.033287 -0.054508        -0.022068   -0.026127  -0.026127
private_s        0.043589 -0.247584        -0.083958   -0.021999  -0.021999
retired          0.021153  0.309407         0.271421   -0.033319  -0.033319
self_empl        0.087138  0.114273        -0.058537   -0.007264  -0.007264
student         -0.018208 -0.076762         0.030354    0.045143   0.045143
unemploye       -0.077631  0.203320         0.020707    0.042843   0.042843
creative_        0.092333 -0.100224        -0.043791    0.029843   0.029843
driver           0.056538 -0.061793         0.036117    0.011242   0.011242
executive        0.033932  0.195693         0.194672   -0.013801  -0.013801
guard_etc        0.022947  0.028675        -0.074592   -0.059316  -0.059316
labourer        -0.008220 -0.035318        -0.027105    0.103196   0.103196
manager          0.141564  0.056127        -0.062565   -0.007468  -0.007468
office_st       -0.239058 -0.085265         0.060743   -0.141542  -0.141542
productio        0.089171 -0.025142         0.007001    0.015006   0.015006
professio       -0.028788 -0.008012        -0.023361    0.058154   0.058154
sales           -0.116177 -0.061906         0.018662   -0.043244  -0.043244
semi_pro         0.057602 -0.002900        -0.069254    0.012631   0.012631
unemploye       -0.085110  0.210038         0.028853    0.048437   0.048437

                 Time_employed  Time_bank  Liab_ref   Acc_ref  Home_Expn  ...  \
Sex                   0.077239  -0.072303  0.010508  0.095826   0.115355  ...
Age                   0.426890   0.208736  0.049109 -0.040445  -0.072254  ...
Time_at_address       0.278849   0.202083 -0.049978 -0.144258  -0.267470  ...
Res_status           -0.074690  -0.132413  0.018827 -0.000201  -0.006477  ...
Telephone            -0.074690  -0.132413  0.018827 -0.000201  -0.006477  ...
Time_employed         1.000000   0.291542  0.122561 -0.025000  -0.110933  ...
Time_bank             0.291542   1.000000  0.051000 -0.158334  -0.111761  ...
Liab_ref              0.122561   0.051000  1.000000  0.033197   0.127133  ...
Acc_ref              -0.025000  -0.158334  0.033197  1.000000   0.096426  ...
Home_Expn            -0.110933  -0.111761  0.127133  0.096426   1.000000  ...
Balance               0.112719   0.153435 -0.013128 -0.065739   0.080366  ...
Decision             -0.339833  -0.455942 -0.068508  0.106354   0.087311  ...
governmen             0.135908   0.097365 -0.041223 -0.066981   0.059496  ...
military             -0.027837  -0.003413  0.052702 -0.013490  -0.005677  ...
private_s            -0.172712  -0.115185  0.037822  0.089868   0.035104  ...
retired               0.265212   0.155554 -0.022658 -0.038472  -0.149999  ...
self_empl             0.045330   0.030708  0.084938  0.010466   0.076962  ...
student              -0.042492  -0.035080 -0.012399 -0.030307  -0.043405  ...
unemploye            -0.047159  -0.031069 -0.093314 -0.043119  -0.142259  ...
creative_            -0.005600   0.103602 -0.034575 -0.036148  -0.088680  ...
driver               -0.064149  -0.085321  0.041735  0.135115  -0.032013  ...
executive             0.158402   0.070908 -0.047445  0.023691  -0.022788  ...
guard_etc            -0.048504  -0.079085  0.051444 -0.017403   0.070586  ...
labourer             -0.076296  -0.102461  0.044265  0.029235  -0.024372  ...
manager               0.085916  -0.004365  0.041821  0.254292   0.121765  ...
office_st             0.045731   0.115238 -0.005693 -0.071914  -0.017424  ...
productio            -0.005221  -0.035694  0.037271 -0.036777   0.048673  ...
professio             0.065455   0.030341  0.030484 -0.063317   0.112318  ...
sales                -0.080398  -0.087884 -0.057168 -0.077889  -0.049655  ...
semi_pro              0.001919   0.042998 -0.003053 -0.019012   0.094591  ...
unemploye            -0.042615  -0.026283 -0.086354 -0.041226  -0.139506  ...

                 executive  guard_etc  labourer   manager  office_st  \
Sex               0.033932   0.022947 -0.008220  0.141564  -0.239058
Age               0.195693   0.028675 -0.035318  0.056127  -0.085265
Time_at_address   0.194672  -0.074592 -0.027105 -0.062565   0.060743
Res_status       -0.013801  -0.059316  0.103196 -0.007468  -0.141542
Telephone        -0.013801  -0.059316  0.103196 -0.007468  -0.141542
Time_employed     0.158402  -0.048504 -0.076296  0.085916   0.045731
Time_bank         0.070908  -0.079085 -0.102461 -0.004365   0.115238
Liab_ref         -0.047445   0.051444  0.044265  0.041821  -0.005693
Acc_ref           0.023691  -0.017403  0.029235  0.254292  -0.071914
Home_Expn        -0.022788   0.070586 -0.024372  0.121765  -0.017424
Balance           0.153182  -0.025923 -0.053978 -0.023879  -0.008416
Decision         -0.067796   0.131258  0.107222  0.029066  -0.133674
governmen        -0.079377  -0.036600  0.019390 -0.080452   0.179558
military         -0.010689  -0.014407 -0.015924 -0.012773  -0.017357
private_s        -0.190084  -0.203628  0.081608  0.130195  -0.004043
retired           0.623377  -0.041086 -0.045412 -0.036426  -0.049501
self_empl         0.010833   0.515114 -0.073270 -0.013948  -0.110322
student           0.491076  -0.032366 -0.035774 -0.028695  -0.038995
unemploye        -0.061715  -0.083181 -0.061647 -0.073747  -0.100218
creative_        -0.115540  -0.155727 -0.172127 -0.138066  -0.187623
driver           -0.043525  -0.058664 -0.064842 -0.052011  -0.070679
executive         1.000000  -0.065908 -0.072849 -0.058433  -0.079407
guard_etc        -0.065908   1.000000 -0.098187 -0.078758  -0.107027
labourer         -0.072849  -0.098187  1.000000 -0.087051  -0.118297
manager          -0.058433  -0.078758 -0.087051  1.000000  -0.094888
office_st        -0.079407  -0.107027 -0.118297 -0.094888   1.000000
productio        -0.075700  -0.102030 -0.112774 -0.090458  -0.122927
professio        -0.050169  -0.067618 -0.074739 -0.059950  -0.081468
sales            -0.061715  -0.083181 -0.091941 -0.073747  -0.100218
semi_pro         -0.048900  -0.065908 -0.072849 -0.058433  -0.079407
unemploye        -0.060636  -0.081726 -0.090332 -0.072457  -0.098465

                 productio  professio     sales  semi_pro  unemploye
Sex               0.089171  -0.028788 -0.116177  0.057602  -0.085110
Age              -0.025142  -0.008012 -0.061906 -0.002900   0.210038
Time_at_address   0.007001  -0.023361  0.018662 -0.069254   0.028853
Res_status        0.015006   0.058154 -0.043244  0.012631   0.048437
Telephone         0.015006   0.058154 -0.043244  0.012631   0.048437
Time_employed    -0.005221   0.065455 -0.080398  0.001919  -0.042615
Time_bank        -0.035694   0.030341 -0.087884  0.042998  -0.026283
Liab_ref          0.037271   0.030484 -0.057168 -0.003053  -0.086354
Acc_ref          -0.036777  -0.063317 -0.077889 -0.019012  -0.041226
Home_Expn         0.048673   0.112318 -0.049655  0.094591  -0.139506
Balance          -0.028536   0.004505 -0.028959  0.138420  -0.020692
Decision         -0.028458  -0.165153  0.033932 -0.134504   0.173276
governmen        -0.050329   0.191944 -0.089877  0.117460  -0.133296
military         -0.016547  -0.010966 -0.013490 -0.010689  -0.013254
private_s         0.175375  -0.066073  0.163973 -0.030814  -0.348558
retired          -0.047189  -0.031274 -0.038472 -0.030483  -0.037799
self_empl        -0.105172  -0.069701 -0.053673 -0.028552  -0.084243
student          -0.037174  -0.024637 -0.030307 -0.024013  -0.029777
unemploye        -0.095539  -0.063317 -0.077889 -0.061715   0.982505
creative_        -0.178863  -0.118538 -0.145820 -0.115540  -0.143269
driver           -0.067379  -0.044654 -0.054932 -0.043525  -0.053971
executive        -0.075700  -0.050169 -0.061715 -0.048900  -0.060636
guard_etc        -0.102030  -0.067618 -0.083181 -0.065908  -0.081726
labourer         -0.112774  -0.074739 -0.091941 -0.072849  -0.090332
manager          -0.090458  -0.059950 -0.073747 -0.058433  -0.072457
office_st        -0.122927  -0.081468 -0.100218 -0.079407  -0.098465
productio         1.000000  -0.077664 -0.095539 -0.075700  -0.093867
professio        -0.077664   1.000000 -0.063317 -0.050169  -0.062209
sales            -0.095539  -0.063317  1.000000 -0.061715  -0.076527
semi_pro         -0.075700  -0.050169 -0.061715  1.000000  -0.060636
unemploye        -0.093867  -0.062209 -0.076527 -0.060636   1.000000

[31 rows x 31 columns]

In [27]:
# dropping columns based on correlations

# also dropping Time_at_address as it plays trivial role in decision making

dataset.drop(['Telephone', 'Time_at_address'], axis=1, inplace=True)

In [28]:
dataset.columns

# inference => we have 33 variables

Index(['Sex', 'Age', 'Res_status', 'Time_employed', 'Time_bank', 'Liab_ref',
       'Acc_ref', 'Home_Expn', 'Balance', 'Decision', 'governmen', 'military',
       'private_s', 'retired', 'self_empl', 'student', 'unemploye',
       'creative_', 'driver', 'executive', 'guard_etc', 'labourer', 'manager',
       'office_st', 'productio', 'professio', 'sales', 'semi_pro',
       'unemploye'],
      dtype='object')

In [29]:
dataset.head()

,Sex,Age,Res_status,Time_employed,Time_bank,Liab_ref,Acc_ref,Home_Expn,Balance,Decision,...,executive,guard_etc,labourer,manager,office_st,productio,professio,sales,semi_pro,unemploye
0,1,50.750000,0,0,0,0,0,145,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,19.670000,1,0,0,1,0,140,0,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,52.830002,0,5,14,0,0,0,2200,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,22.670000,1,2,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,29.250000,0,0,0,0,0,228,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
X = dataset[['Sex', 'Age', 'Res_status', 'Time_employed', 'Time_bank', 'Liab_ref',
       'Acc_ref', 'Home_Expn', 'Balance', 'governmen', 'military',
       'private_s', 'retired', 'self_empl', 'student',
       'creative_', 'driver', 'executive', 'guard_etc', 'labourer', 'manager',
       'office_st', 'productio', 'professio', 'sales', 'semi_pro']]

y = dataset[['Decision']]

In [81]:
X.nunique()

Sex                2
Age              274
Res_status         2
Time_employed     19
Time_bank         20
Liab_ref           2
Acc_ref            2
Home_Expn        126
Balance          171
governmen          2
military           2
private_s          2
retired            2
self_empl          2
student            2
creative_          2
driver             2
executive          2
guard_etc          2
labourer           2
manager            2
office_st          2
productio          2
professio          2
sales              2
semi_pro           2
dtype: int64

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [93]:

# fit model no training data
model = XGBClassifier(objective ='reg:logistic', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

model.fit(X_train, y_train)

XGBClassifier(alpha=10, base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.3,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.1, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=5, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=10, n_jobs=0,
              num_parallel_tree=1, objective='reg:logistic', predictor='auto',
              random_state=0, ...)

In [94]:
predictions = model.predict(X_test)

In [95]:
model.score(X, y)

0.7948717948717948

In [96]:
# calculating the statistical metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 0.19767441860465115
Mean Squared Error: 0.19767441860465115
Root Mean Squared Error: 0.44460591382105025

In [97]:
#Confusion matrix:
print("Confusion Matrix : \n", confusion_matrix(y_test, predictions))

Confusion Matrix :
 [[27 14]
 [ 3 42]]

In [98]:
r2 = r2_score(y_test, predictions)
print("R squared value : ", r2)

R squared value :  0.20758807588075912

In [99]:
from scipy.stats import linregress
linregress(y_test.to_numpy().ravel(), np.array(predictions))

LinregressResult(slope=0.5918699186991868, intercept=0.3414634146341465, rvalue=0.6202543406978069, pvalue=1.9027902709052533e-10, stderr=0.08166854504861733, intercept_stderr=0.059076104470194984)